{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ title }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if domain is defined %}
                    <div class="alert alert-danger">
                        Changing the domain-name will automatically change any existing login, too. However, aliases will not be touched.<br/>Be very careful with this functionality, as it <b>CAN NOT BE UNDONE</b>!
                    </div>
                {% endif %}
                <form method="POST">
                    <div class="form-group">
                        <label for="domain">Domain</label>
                        <input type="text" required class="form-control" name="domain" id="domain"
                               value="{% if domain is defined %}{{ domain.domain }}{% endif %}">
                        <small id="domainHelp" class="form-text text-muted">The domain for e-mail addresses, exlucing the @-sign.</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button> <a href="{{ path('domains_list') }}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}