{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reset password for: {{ user.username }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="POST">
                    <div class="form-group">
                        <label for="password">New password:</label>
                        <input type="password" id="password" name="password" class="form-control">
                        <small id="passwordHelp" class="form-text text-muted">The new password fr the user to authenticate against the mail server.</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button> <a href="{{ path('user', {'id': user.id}) }}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}